{% extends 'GreenenjoyCoreBundle::back_layout.html.twig' %}

	{% block content %}

		<div class="col-lg-6">
			<div class="row mb-5">
				<div class="col-12">
					<h3 class="py-3 border-bottom">Connexion</h3>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 mb-5 mb-md-4">
					<form action="{{ path('login') }}" method="post">
						<div class="form-group">
							<label for="username">Identifiant</label>
							<input class="form-control" type="text" id="username" name="_username" value="mbenguia.husseini@live.fr" />
						</div>
						<div class="form-group">
							<label for="password">Mot de passe</label>
							<input class="form-control" type="password" id="password" name="_password" value="Jkl123"/>
						</div>
						<div class="form-group">
							<input type="checkbox" id="remember_me" name="_remember_me" />
							<label for="remember_me">Se souvenir de moi</label>
						</div>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
						<button type="submit" class="btn btn-outline-info d-block mx-auto">Se connecter</button>
					</form>
					<p class="text-center">
						<a href = "{{ path('greenenjoy_recovery') }}">Mot de passe oublié ?</a>
					</p>
				</div>
			</div>
		</div>
	{% endblock %}
