<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<p>
			<a href = "{{ path('greenenjoy_add_post') }}">Ajouter un article</a>
		</p>
		<br />
		<br />

		<p>Catégories d'articles</p>
		<hr />
		<p>
			<a href = "#">Créer une catégorie</a>
		</p>
		<p>
			<a href = "#">Ma boîte à pharmacie</a>
		</p>
		<p>
			<a href = "#">Slow Attitude</a>
		</p>
		<p>
			<a href = "#">Slow Conso</a>
		</p>
		<p>
			<a href = "#">Slow Food</a>
		</p>
		<p>
			<a href = "#">Slow Beauty</a>
		</p>
		<br />
		<br />

		<p>Commentaires</p>
		<hr />
		<p>
			<a href = "#">Commentaires signalés</a>
		</p>
		<br />
		<br />

		<p>Mon profil</p>
		<hr />
		<p>
			<a href = "#">Modifier mes informations</a>
		</p>
		<p>
			<a href = "{{ path('greenenjoy_logout') }}">Se déconnecter</a>
		</p>

	</body>
</html>
