<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<p>
			Connecté !
		</p>

		<p>
			<a href = "{{ path('greenenjoy_add_post') }}">Ajouter un article</a>
		</p>

		<p>
			<a href = "{{ path('greenenjoy_logout') }}">Se déconnecter</a>
		</p>

	</body>
</html>
