<div class="col-lg-3 d-none d-lg-block">
	<div class="row d-flex justify-content-center">
		<div class="col-10 col-xl-8">
			<div class="row py-3">
				<div class="col-12 d-flex justify-content-center">
					<img class="rounded-circle" width="200px" height="200px" src="{{ asset('uploads/img/1.jpg') }}">
				</div>
			</div>
			<div class="row my-4">
				<div class="col-12">
					<p class="text-center">
						"Je rêve que chacun puisse prendre  la mesure 
						de ses talents la responsabilité de son bonheur,
						 car il n'est rien de plus important que de vivre 
						une vie à la hauteur de ses rêves d'enfant " <br/><br/>

						Qui suis-je ?<br/><br/>

						Ornella, née en 1991 (je vous laisse faire vos petits
						 calculs), maman deux fois. <br/><br/>

						J'ai ressenti dès 2013, le besoin d'appréhender ma 
						santé de manière plus globale.
						Passionnée par l'Humain, sensible à l'intelligence du
						Vivant et en quête de sens et d"équilibre, j'ai fait le
						choix de créer ma vie, de prendre le temps.<br/><br/>

						Ici, tu trouveras de la bienveillance et de la douceur.<br/><br/>

						Nous parlerons naturopathie, développement 
						personnel, cosmétiques naturels et bien plus encore ...<br/><br/>

						N'hésitez pas à me laisser un petit mot.<br/>
						J'adore vous lire.<br/>
						Et surtout, BIENVENUE.
					</p>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-12">
					<img class="img-fluid" src="{{ asset('bundles/greenenjoycore/img/Oh-Hello.png') }}" alt="Oh_Hello">
				</div>
			</div>
		</div>
	</div>
</div>